<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/games/new.css" />
<%- include("../partials/nav") %>

<main>
  <h1>Add New Game</h1>
  <form id="new-form" action="/games" method="POST">
    <label for="title-input">Title:</label>
    <input type="text" name="title" id="title-input">
    <label for="date-input">Match Date:</label>
    <input type="date" name="date" id="date-input">
    <button id="add-button" type="submit">Add Game</button>
  </form>
</main>
  
  <%- include("../partials/footer") %>