th {
  text-align: left;
  font-size: 20px;
  margin: 30px;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

td {
  padding-left: 10px;
  padding-right: 10px;
}

button:hover {
  color: white;
  background-color: green;
  border: 2px solid white;
}